.byebug_history
.editorconfig
.env*
.git
.github
.idea
.rspec
.rubocop.yml
.vscode/*
/public/assets
/public/system
app.json
docker-compose.analytics.yml
docker-compose.yml
Dockerfile
Guardfile
log/*
node_modules/
Procfile
README.md
spec/
tmp/
