/log/*
!/log/.keep
/storage/*
!/storage/.keep
/tmp/*
!/tmp/.keep
!/tmp/caching-dev.txt
.byebug_history
.env
.idea/
.vscode/*
/.bundle
/config/master.key
cias-api-50c1a8455413.json
db/structure.sql
coverage/
.ruby-gemset
.generators
.DS_Store
credentials_google.json
