---
title: CIAS 3.0 API documentataion

language_tabs: # must be one of https://git.io/vQNgJ
  - http

toc_footers:
  - <a href='#'>Sign Up for a Developer Key</a>

includes:
  - v1/authentication
  - v1/intervention
  - v1/question
  - errors

search: true
---

# Introduction

Welcome to the <%= ENV['APP_NAME_COMMENT'] %>

> Base URL

```http
<%= ENV['DOMAIN_NAME'] %>
```

This describes the resources that make up the official [<%= ENV['DOMAIN_NAME'] %>](<%= "https://#{ENV['DOMAIN_NAME']}" %>) REST API. In order to use resources, You have to obtain an appropriate token.
