---
title: CIAS 3.0 API documentataion

language_tabs: # must be one of https://git.io/vQNgJ
  - http

toc_footers:
  - <a href='#'>Sign Up for a Developer Key</a>

includes:
  - authentication
  - registration
  - user
  - avatar
  - intervention
  - session
  - user_session
  - session_invitation
  - question_group
  - question
  - image
  - answer
  - invitation
  - errors

search: true
---

# Introduction

Welcome to the <%= ENV['APP_NAME_COMMENT'] %>

> Base URL

```http
<%= ENV['APP_HOSTNAME'] %>
```

This describes the resources that make up the official [<%= ENV['DOMAIN_NAME'] %>](<%= "https://#{ENV['DOMAIN_NAME']}" %>) REST API. In order to use resources, You have to obtain an appropriate token.
