<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="utf-8" />

  <style>
    * {
      font-family: "DM Sans", Arial, Helvetica, sans-serif;
    }
    body { margin: 0; padding: 0; }

    .datetime {
      text-align: right;
    }

  </style>
</head>

<body>
<div class="datetime">
  <p class="section-text"><%= datetime_content %></p>
</div>
</body>
</html>

