<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8" />

    <style>
      * {
        font-family: "DM Sans", Arial, Helvetica, sans-serif;
      }

      body { margin: 0; padding: 0; }

      .alwaysbreak { page-break-before: always; }
      .nobreak:before { clear:both; }
      .nobreak { page-break-inside: avoid; }

      .container {
        padding: 0px;
        width: 800px;
      }

      .header {
        font-size: 32px;
        font-weight: 700;
        line-height: 42px;
        letter-spacing: 0em;
      }

      .section-title {
        font-size: 13px;
        font-weight: 700;
        line-height: 17px;
        letter-spacing: 0em;
      }

      .section-text {
        font-size: 15px;
        font-weight: 400;
        line-height: 23px;
        letter-spacing: 0em;
        vertical-align: top;
        text-align: justify;
        margin: 0;
      }

      .section-image {
        max-width: 200px;
        max-height: 200px;
      }

      .d-table {
        width: 100%;
      }

      tr td:first-child {
        width: 100%;
      }

      .d-table-cell {
        vertical-align: top;
      }

      .mb-small {
        margin-bottom: 10px;
      }

      .mb-medium {
        margin-bottom: 24px;
      }

      .mb-big {
        margin-bottom: 30px;
      }

      .image-spacer {
        width: 60px;
      }

      .ql-align-right {
          text-align: right;
      }

      .ql-align-center {
          text-align: center;
      }

      .ql-align-left {
          text-align: left;
      }
    </style>
  </head>

  <body>
    <div class="container">
      <!-- REPORT HEADER -->
      <div dir='auto'><%= sanitize(report_template.summary, attributes: ['style', 'class', 'href', 'rel', 'target']) %></div>

      <!-- SINGLE SECTION -->
      <%- variants.each do |variant| %>
        <% next if variant.content.blank? && variant.title.blank? %>

        <!-- TITLE -->
        <table class="d-table nobreak" cellspacing="0" cellpadding="0" dir='auto'>
          <tbody>
            <tr>
              <td class="d-table-cell">
                <div class="section-title mb-small"><%= variant.title %></div>
              </td>
            </tr>
          </tbody>
        </table>

        <!-- CONTENT AND IMAGE -->
        <table class="d-table mb-big nobreak" cellspacing="0" cellpadding="0" dir='auto'>
          <tbody>
            <tr>
              <!-- TEXT -->
              <td class="d-table-cell">
                <p class="section-text"><%= sanitize(variant.content, attributes: ['style', 'class', 'href', 'rel', 'target']) %></p>
              </td>

            <!-- IMAGE SPACER -->
            <td class="d-table-cell">
              <% if variant.image.attached? %>
              <div class="image-spacer" />
              <% end %>
            </td>

              <!-- IMAGE -->
              <td class="d-table-cell">
                <% if variant.image.attached? %>
                  <img class="section-image" src="<%= Rails.application.routes.url_helpers.url_for(variant.image) %>" />
                <% end %>
              </td>
            </tr>
          </tbody>
        </table>
      <% end %>
    </div>
  </body>
</html>
